<header class="header">
  <div class="header-container">

    <div class="top-row">
      <div class="brand">
        🛒 <span>Comparator</span>
      </div>

      <div class="actions">
       <div class="actions">
          <button
            class="btn btn-ghost"
            type="button"
            (click)="goToList()"
            title="Listă de cumpărături"
            aria-label="Listă de cumpărături"
          >
            <span class="icon">📋</span>
          </button>
        </div>
      </div>
    </div>

    <div class="header-filters">
      <div class="search-wrapper">
        <span class="search-icon">🔎</span>
        <input
          #searchBox
          class="search-input"
          type="text"
          placeholder="Caută produse după nume sau brand..."
          (input)="onSearch(searchBox.value)"
        />
      </div>

      <div class="select-wrap">
        <select
          class="store-select"
          #storeSelect
          (change)="onStoreChange(storeSelect.value)"
        >
          <option value="">Toate magazinele</option>
          <option value="Lidl">Lidl</option>
          <option value="Profi">Profi</option>
          <option value="Kaufland">Kaufland</option>
        </select>
      </div>
    </div>

  </div>
</header>
