<div class="tabs-container">
  <button
    class="tab"
    routerLink="/products"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    Produse
  </button>

  <button
    class="tab"
    routerLink="/discounts"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    Reduceri
  </button>

  <button
    class="tab"
    routerLink="/grocery-list"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    Listă de cumpărături
  </button>
</div>
